:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.feature-header {
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

.content-container {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 2rem;

  .cdk-table {
    width: 100%;
    border-spacing: 0;

    .cdk-row:hover {
      background-color: #ffdcdc;
    }

    .cdk-cell {
      border-top: 1px solid #606060;
    }

    .cdk-column-thumbnail {
      padding: 0.5rem;
    }

    .cdk-column-name {
      font-weight: 600;
    }

    .cdk-column-description {
      color: #606060;
      padding: 0 0.5rem;
    }
  }
}
